# dependencies
node_modules/

# build directory
build/

# secrets (remove exceptions when in production) 
*.env*
!frontend/.env
!backend/config/.env
!backend/config/test.env

# misc
**/.DS_Store
.eslintcache
**/.vscode